fastapi
python-keycloak
fastapi-keycloak
uvicorn
cassandra-driver
python-jose
python-multipart
passlib
pydantic
pydantic[email]
pydantic-settings
# cassandra-cqlengine
python-keycloak==2.15.0
cryptography
httpx 
python-jose[cryptography]
pyjwt
python-dotenv
# fastapi-keycloak-middleware
